        
.ng-invalid.ng-dirty {
    border-color: #ff000c;
}
.ng-valid.ng-dirty {
    border-color: #19ff37;
}

.list-group-item {
    margin: 0 auto;
    width:800px;
    background-color:#000
/*    background-color:#831e1e*/
}

p {
    color:#ffffff
}

h3 {
    color:#ffffff
}